/* Estilo para el contenedor del menú */
.menu-flotante {
  top: 0; /* Alineado a la parte superior */
  position: sticky;
  left: 0; /* Alineado a la derecha */
  width: 200px; /* Ancho del menú */
  background-color: #f9f9f943; /* Color de fondo del menú */
  z-index: 1000; /* Asegura que el menú esté sobre otros elementos */
}

/* Estilo para los elementos del menú */
.menu-flotante ul {
  list-style-type: none; /* Remueve los estilos de lista */
  padding: 0; /* Remueve el padding */
  margin: 0; /* Remueve los márgenes */
}

.menu-flotante ul li button {
  display: block; /* Hace que los enlaces llenen el espacio horizontal */
  text-decoration: none; /* Remueve el subrayado de los enlaces */
  padding: 10px; /* Añade padding para los enlaces */
  color: #333; /* Color del texto */
  background-color: #f9f9f952; /* Color de fondo para los enlaces */
}

.menu-flotante ul li button:hover {
  background-color: #ddd; /* Color de fondo al pasar el mouse */
}
.menu-flotante ul li a:active {
  background-color: #a1d2f1; /* Color de fondo al pasar el mouse */
}
