<div class="grid grid-cols-4 gap-4">
  <div class=" flex flex-1"></div>
  <div class="max-w-3xl shadow-lg bg-gradient-to-bl from-white
  bg-transparent rounded-3xl col-span-3">
  <div>
    <div class="menu-flotante float-right">
      <ul>
        @for (menuItem of menuProfile(); track menuItem.nameItem) {
          <li (click)="toggleShowMenu( menuItem.nameItem)"  class="active:bg-zinc-400">
            <button [disabled]="menuItem.show" href="#home">{{menuItem.describe}}</button>
          </li>
        }


      </ul>
    </div>
    <app-user></app-user>

  </div>


</div>
</div>

<div class="float-start">
  @for (menuItem of menuProfile(); track menuItem.nameItem) {

    <button
    class="inline-block bg-sky-200 rounded-full px-3 py-1 text-sm font-semibold
     text-gray-700 mr-2 m-2 mb-2 cursor-pointer  hover:bg-black hover:text-white
      disabled:pointer-events-none disabled:bg-slate-100">
     </button>

  }

</div>
