<div class="grid grid-cols-5 gap-1">
      <div class=" flex flex-1">
        <div class="float-menu ">
        <ul>
          <li class=""><button> <fa-icon [icon]="faMenu"></fa-icon> Menú </button></li>
          @for (menuItem of menuFloat.menuProfile(); track menuItem.nameItem) {
            <li >
              <button [disabled]="menuItem.show"
              [routerLink]="'/dashboard/profile/'+menuItem.nameItem"
              (click)="toggleShowMenu(menuItem.nameItem)"  >{{menuItem.describe}}</button>
            </li>
          }


        </ul>
      </div>
    </div>
  <div class="shadow-lg  bg-gradient-to-tl from-orange-50 from-15% via-white via-30% to-transparent
  rounded col-start-2 col-span-3">
      <router-outlet></router-outlet>
  <div>



  </div>



</div>
</div>


