<div class="p-4 text-justify text-lg">
@defer ( on timer(1s)) {
          <img  [src]="user()?.profesionalProfile?.data?.imgUrl" width="50%" class="rounded-full p-2 " alt="Sunset in the mountains">
          <div class=" flex px-6 py-4  rounded">
            <div class="font-normal text-2xl mb-2 p-2">Nombre : <br/> <span class="font-bold">{{user()?.profesionalProfile?.name}} </span></div>
            <div class="font-normal text-xl p-2">
              <ul class="text-gray-700 ">
                <li>Teléfono : <span class="font-bold">{{user()?.profesionalProfile!.data.phoneNumber}}</span></li>
                <li>Email : <span class="font-bold">{{user()?.profesionalProfile?.data?.email}}</span></li>
                <li>Grado Académico : <span class="font-bold">{{user()?.profesionalProfile!.education[0]!.academicDegree}}</span></li>
                <li>Institución : <span class="font-bold">{{user()?.profesionalProfile!.education[0]!.institution}}</span></li>
                <li>Fecha : <span class="font-bold">{{user()?.profesionalProfile!.education[0]!.startDate | date:'yyyy' }}</span> - <span class="font-bold">{{user()?.profesionalProfile!.education[0]!.endDate | date:'yyyy' }}</span></li>

              </ul>
            </div>

          </div>


        }@placeholder {
          <app-loading></app-loading>

        }
</div>
