<div class="float-menu ">
  <ul>
    <li class="text-left"><button (click)="toggleText()" class="text-left noHoverButton">
      <fa-icon [icon]="faMenu"></fa-icon><span *ngIf="showText"> Solo Iconos </span></button></li>
    @for (menuItem of menuFloat.menuProfile(); track menuItem.nameItem) {
      <li class="text-left hoverList"
      [routerLink]="['/dashboard/profile/',menuItem.nameItem]"
        (click)="toggleShowMenu(menuItem.nameItem)">
        <button class="text-left noHoverButton" [disabled]="menuItem.show"
         > <fa-icon [icon]="menuItem.faIcon"></fa-icon><span *ngIf="showText"> {{menuItem.describe}}</span></button>
      </li>
    }
    <li class="text-left bg-deep-orange-200" (click)="goBack()"><button class="text-left noHoverButton">
       <fa-icon [icon]="faBack"></fa-icon><span *ngIf="showText"> Regresar</span> </button></li>


  </ul>
</div>
