@defer (on timer(300ms) ) {
<div>
  <!-- Botón flotante fijo -->
  <div class="fixed p-5 z-30 right-5">
    <button (click)="goBack()"
      class="p-3 bg-blue-500 text-white font-semibold hover:bg-orange-700 py-2 px-4 border
      border-blue-500 hover:border-transparent rounded">
      Regresar
    </button>
  </div>

  <div class="flex justify-center items-center p-5">
    <!-- Contenido que quieres centrar -->
    <div class="w-10/12">
      <img class=" transition-all duration-300 rounded-lg cursor-pointer filter grayscale hover:grayscale-0"
      [src]="imageCourse()?.url"
      alt="image description">
    </div>
  </div>
</div>
}@placeholder {
  <app-loading></app-loading>

}
