
<h4 class="pt-4 pl-5 text-center">Habilidades</h4>
<br>
<hr>

@defer (on timer(1s)) {
    <div class="grid grid-cols-2 gap-4 bg-white">
        <div class=" p-5">
          <app-skills-charts skillType="skillLanguaje" type="combo" title="Habilidades del Lenguaje"></app-skills-charts>

        </div>
        <div class=" p-5">
          <app-skills-charts skillType="skillTechnical" type="single" title="Habilidades Técnicas"></app-skills-charts>
        </div>
        <div class="col-span-2 p-5">
          <app-skills-charts skillType="skillSoft" type="single" title="Habilidades Interpersonales"></app-skills-charts>

        </div>

    </div>

}@placeholder {
  <app-loading></app-loading>

}


