
<h4 class="pt-4 pl-5 text-center">Habilidades</h4>

<div class="mb-4 border-b border-gray-200 dark:border-gray-700 pl-14">
  <ul class="flex flex-wrap -mb-px text-sm  text-center" >


  @for (skill of menuSkill; track $index;) {
      <li [class]="{'text-purple-500': skill.show ,'font-bold': skill.show, 'text-gray-600': !skill.show}" >
          <button class="inline-block p-4 border-b-2 rounded-t-lg text-lg"
          type="button" (click)="showSkill(skill.id)"> {{skill.typeSkill}} | </button>
      </li>
    }

  </ul>
</div>
@defer (on timer(1s)) {
  @for (skill of menuSkill; track $index;) {

      <div *ngIf="skill.show && skill.id ===1"  [class]="{'m-10': skill.show && skill.id ===1}">
        <form [formGroup]="mySelectChar" >
          <label>Tipo de Gráfica </label>

          <select name="typeChart" formControlName="char">
            @for(charType of charTypeOptions; track $index;){
              <option  [value]="charType"> {{charType | titlecase}} </option>
            }
          </select>
        </form>
        <br>
        <hr>
        @if (!redraw()) {
          <c-chart [data]="technicalChart" [options]="options" [type]="chartSelected" [redraw]="redraw()" class="w-2/3"/>
        }

      </div>

      <div *ngIf="skill.show && skill.id ===2"  [class]="{'m-10': skill.show && skill.id ===2}" >
        <app-skills-charts ></app-skills-charts>
      </div>

      <div *ngIf="skill.show && skill.id ===3"  [class]="{'m-10': skill.show && skill.id ===3}">
        <c-chart [data]="languagesChart" type="bar" class="w-2/3"/>
      </div>

    }
}@placeholder {
  <app-loading></app-loading>

}


